@font-face {
	font-family: 'Bold';
	src: url('../fonts/ChakraPetch-Bold.ttf');
}
@font-face {
	font-family: 'Rajdhani-Medium';
	src: url('../fonts/Rajdhani-Medium.ttf');
}
@font-face {
	font-family: 'Rajdhani-SemiBold';
	src: url('../fonts/Rajdhani-SemiBold.ttf');
}
